.btnDelete {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border: transparent;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
